# Account DB
ACCOUNT_DB_USER=
ACCOUNT_DB_PASSWORD=

# Transaction DB
TRANSACTION_DB_USER=
TRANSACTION_DB_PASSWORD=

# Payment DB
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=

# Notification DB
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
